body{
  margin: 0 auto;
  background-color: #141414;
  font-family: "Roboto", sans-serif;
  font-size: 100%;
}
/*phone*/
@media (max-width:479px) {

}
/*small tablet*/
@media (max-width:767px) {

}
/*large tablet*/
@media (max-width:991px) {

}
/*small desktop*/
@media (min-width:992px) and (max-width:1100px) {
  #header{
    margin: 0 auto;
    height: 100px;
    padding: 0;
  }
}
/*large desktop*/
@media (min-width: 1101px) and (max-width: 1920px) {
  #header{
    margin: 0 auto;
    height: 100px;
    padding: 0;
  }
  #header1{
    margin: 0 auto;
    min-width: auto;
    height: inherit;
    padding: 0;
    margin-top: -8px;;
    float: left;
  }
}

.container{
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
}

.mediaBubble{
  margin-top: 17px;
  margin-left: 8px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.verticalContainer{
  flex-direction: column;
  max-width: 500px;
}

.footer{
  min-height: 40px;
  color: white;
  padding: 2px;
  margin: 0 auto;
  background-color: #141414;
  text-align: center;
  font-style: italic;
  position: relative;
}

.footer ul{
  list-style-type: none;
  margin: 0;
}

.scaleImage{
  display: block;
  width: auto;

}

.titleText{
  font-weight: 400;
  text-align: center;
  font-size: 2em;
  text-decoration: underline;
}

.fixedWidth{
  max-width: 1100px;
  width: 100%;
}

#header{
  margin: 0 auto;
  height: 100px;
  padding: 0;
}

#header1{
  margin: 0 auto;
  min-width: auto;
  height: inherit;
  padding: 0;
  margin-top: -8px;;
  float: left;
}

#title{
  margin: 0 auto;
  padding-left: 50px;
  height: inherit;
  text-align: center;
  font-size: 6em;
  font-weight: 400;
  color:#D4AF37;
}

#title a{
  color:#D4AF37;
}

#subTitle{
  margin: 0 auto;
  padding: 0;
  height: 30px;
  font-size: .8em;
  text-align: center;
  color: white;
}

#socialMediaLinks{
  height:50px;
  min-width: 200px;
  max-width: 400px;
  padding-right: 50px;
  padding-top: 10px;
  float: right;
  text-align: right;
}

#ham{
  width: 100%;
  height: auto;
  margin: 0 auto;
  position: fixed;
  z-index: -1;
}

#leftBanner{
  margin: 0 auto;
  padding: 0;
  max-width: 400px;
  width: 100%;
  height: 1000px;
  position: fixed;
  background-image: url("images/moneymobbEnt.jpg");
}

#rightBanner{
  margin: 0 auto;
  padding: 0;
  max-width: 400px;
  width: 100%;
  height: 1000px;
  float: right;
  background-image: url("images/moneymobbEnt.jpg");
}

#spaceHolder{
  margin: 0 auto;
  width: 100%;
}

#outside{
  border: 1px solid black;
  width: 100%;
  margin: 0 auto;
  margin-top:-1px;
  background-color: #F5F5F5;
  z-index: 1;
}

#main{
  height: 425px;
  margin: 0 auto;
  margin-top: 40px;
}

#altMain{
  margin: 0 auto;
  padding: 0;
  min-height: 765px;
  height: 100%;
  width: 700px;
}

#newAlbum{
  margin-left: 50px;
  height: 450px;
  width: 350px;
}

#albumArt{
  height: 350px;
  width: 350px;
  border: 1px solid black;
}

#releaseDate{
  height: 80px;
  width: 350px;
  flex-direction: column;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px
}

#releaseDate p{
  margin: 0;

}

#upperRight{
  width: 600px;
  margin-left: 75px
}

#aboutme{
  width: 480px;
  height: 200px;
  padding: 1em;
}

#aboutme2{
  margin: 0 auto;
  padding: 0;
  padding: 2em;
}


#soundcloudBar{
  width: inherit;
  height: 200px;
  padding-top: 25px;
}

#showsMini{
  width: inherit;
  height: 200px;
  padding: 0;
  margin: 0 auto;
  border: 1px solid black;
  background-color: #222222;
  color: white;
  overflow-y: scroll;
  overflow-x: hidden;
}

#showsMain{
  width: 100%;
  min-height: 765px;
  max-height: none;
  padding: 0;
  margin: 0 auto;
  border: 1px solid black;
  background-color: #222222;
  color: white;
}

#newsHeader{
  width: 100%;
  height: 1em;
  border-bottom: 1px solid white;
  padding: 2px;
  padding-left: 1em;
}

#newsHeader h5{
  margin: 0;
  font-size: 1em;
  font-weight: bolder;
}

.newsSegment{
  width: 100%;
  height: 3.65em;
  border-bottom: 1px solid white;
}

.newsSegment p{
  padding: 6px;
  margin: 0;
}

.venue{
  width: 50%;
  height: 50%;
  float:left;
}

.location{
  width: 50%;
  height: 50%;
  float: left;
}

.time{
  width: 50%;
  height: 50%;
  float: right;
}

.date{
  width: 50%;
  height: 50%;
  float: right;
}

#pictures{
  margin: 0 auto;
  margin-top: 60px;
  width: auto;
  background-color:#222222;
  padding-top: 20px;
}

.row{
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  height: 290px;
  text-align: center;
}

.row2{
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.image{
  max-width: 240px;
  width: 100%;
  padding: 0 10px 0 10px;
  max-height: 260px;
  height: 100%;
  padding: 0 auto;
}

#main2{
  height: 335px;
  margin: 0 auto;
  margin-top: 30px;
}

#youtubeVideo{
  height: 335px;
  width: 580px;
  padding: 10px;
}

#albumSection{
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  height: auto;
  padding-bottom: 60px;
}

.albumArt{
  width: 300px;
  height: 300px;
  padding: 0 10px 0 10px;
}
